{% extends "webapp/header.html" %}

{% block content %}
<center>
    	<h4>Quarto 2:</h4>

	<h5>Lâmpada 1:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="on3" value="Ligar" />
		<input type="submit" name="off3" value="Desligar" />
	</form>
	
	<p></p>
	
	<h5>Lâmpada 2:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="on4" value="Ligar" />
		<input type="submit" name="off4" value="Desligar" />
	</form>
	
	<p></p>
	
	<h5>Janela:</h5>
	
	<form action="" method="post">{% csrf_token %}
		<input type="submit" name="open2" value="Abrir" />
		<input type="submit" name="close2" value="Fechar" />
	</form>	
</center>
{% endblock %}