{% extends "webapp/header.html" %}

{% block content %}
<center>
    	<h4>Temperatura</h4>

	<!--<h5>Lâmpada 1:</h5>-->
	
	<form action = "" method = "get">{% csrf_token %}
		<!--<input name = "a" type = "number" step = "any"> +-->
		<!--<input name = "b" type = "number" step = "any"> =-->
		<output name="on"></output>
		<!--<input type="submit" name="off" value="Desligar" />-->
		<!--<input type="text" name="username" class="form-control" placeholder="Desired username" />-->
	</form>
	
	<p></p>
			
</center>
{% endblock %}
